.marketplace {
  width: 1200px;
  margin: 50px auto;

  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 10px;
    gap: 30px;

    .leftFlex {
      display: flex;

      .condition {
        margin-right: 20px;
        width: 253px;
      }

      .price {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: #1d243b;

        .min {
          margin: 0 10px;
        }

        .to {
          margin-right: 10px;
          font-size: 16px;
          font-weight: 600;
          color: #1d243b;
        }
      }
    }

    .g-search {
      max-width: 318px;
    }

    .toggle-btn {
      border: 1px solid #eee;
      border-radius: 5px;

      button {
        height: 44px;
        color: #707a83;
        padding: 0 15px;
        background-color: #fff;
      }

      .active-btn {
        color: #04111d;
        background-color: #eee;
      }
    }
  }

  .load-more {
    margin-top: 20px;
    text-align: center;

    button {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      border-radius: 5px;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
      padding: 12px 20px;
      background-color: #fff;
      border: 1px solid #e5e8eb;
      color: #707a83;

      &:hover {
        color: #070708;
        transition: all 0.2s ease 0s;
        box-shadow: 0 0 8px 0 rgba(4, 17, 29, 0.25);
      }
    }
  }

  .loading-wrap {
    text-align: center;
  }
}

// @media screen and (max-width: 767px) {
//   .marketplace {
//     margin: auto;
//     padding: 20px 16px;
//     width: 100%;

//     .filter {
//       padding: 0;
//       flex-wrap: wrap;
//       gap: 16px;

//       .grid {
//         display: none;
//       }

//       .g-search {
//         width: 343px;
//         max-width: unset;
//         height: 34px;

//         input {
//           width: auto;
//         }
//       }

//       .condition {
//         width: 154px;
//         height: 100%;

//         .g-select {
//           width: 100%;

//           .g-select--header {
//             padding: 4px 8px;
//             min-height: auto;
//           }
//         }
//       }

//       .price {
//         width: 173px;
//         font-size: 14px;

//         input {
//           padding: 7px 9px;
//         }

//         .min {
//           margin: 0 7px;
//         }

//         .to {
//           margin-right: 7px;
//           font-size: 14px;
//         }
//       }
//     }

//     .g-list {
//       grid-gap: 9px;
//       gap: 9px;
//       padding: 25px 0;
//       justify-content: center;

//       .card {
//         margin-bottom: 15px;

//         .assets {
//           width: 345px;
//           height: 345px;
//         }
//       }

//       &.small {
//         width: 100%;
//         flex-wrap: wrap;
//         flex-direction: row;
//         justify-content: space-between;
//         gap: 0;

//         .card {
//           width: 169px;

//           .assets {
//             width: 169px;
//             height: 169px;
//           }
//         }
//       }
//     }
//   }
// }