.desc-information {
  width: 100%;

  .information-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $tq-split-line-color;
    padding: 6px 14px 0px 12px;
    margin-bottom: 24px;

    .list-title {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      line-height: 1;
      padding: 3px 12px 6px 12px;

      h2 {
        font-size: 16px;
        font-weight: 400;
        color: $tq-font-color-gary;
        line-height: 22px;
      }
    }

    .list-inner.active .list-title {
      border-bottom: 2px solid $tq-font-color-title;

      h2 {
        font-weight: 600;
        color: $tq-font-color-title;
      }
    }

    .list-inner-levels {
      width: 100%;
      padding: 20px;
      border-bottom: 1px solid rgb(229, 232, 235);
    }

    .product-levels {
      width: 100%;
      // padding: 0 12px;
      cursor: pointer;

      .levels {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .line {
        width: 100%;
        height: 14px;
        background-color: rgb(251, 253, 255);
        margin-top: 10px;
        border-radius: 15px;
        border: 1px solid rgb(229, 232, 235);

        .line-color {
          height: 100%;
          border-radius: 15px;
          background-color: rgb(32, 129, 226);
        }
      }
    }

    .list-content {
      color: rgb(53, 56, 64);
      border-bottom: 1px solid rgb(229, 232, 235);
      background-color: rgb(251, 253, 255);

      p {
        padding: 30px;
      }
    }

    .list-title .arrow-icon {
      margin-left: auto;
      color: rgba(4, 17, 29, 0.5);
    }

    .title-point {
      cursor: pointer;
    }

    .stats {
      display: flex;
      justify-content: space-between;

      p {
        padding: 15px 30px;
      }
    }

    .about {
      padding: 20px 30px;

      .about-top {
        display: flex;

        img {
          display: block;
          width: 50px;
          height: 50px;
          margin-bottom: 20px;
          margin-right: 20px;
          border-radius: 50%;
        }
      }

      .top-right {
        font-size: 20px;

        .svg-icon {
          padding: 10px;
          border: 1px solid rgb(229, 232, 235);
          cursor: pointer;

          &:first-child {
            border-right: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          &:hover {
            transition: all 0.2s ease 0s;
            box-shadow: rgba(26, 33, 39, 0.4) 0px 0px 8px 0px;
            border-radius: 5px;
            color: rgb(53, 56, 64);
          }
        }
      }
    }

    .details {
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;

      a {
        color: rgb(21, 178, 229);
      }

      a,
      p {
        padding: 0;
        line-height: 40px;
      }
    }
  }

  .content-wrap {
    &.desc {}

    &.properties {
      .content {
        display: flex;

        &:not(:last-child) {
          margin-bottom: 14px;
        }

        p {
          flex: 1;
        }

        h2 {
          flex: 1;
          padding-left: 8px;
        }
      }
    }

    &.detail {
      .list-content {
        display: flex;
      }

      .details-left {
        flex: 1;

        p {
          font-size: 14px;

          &:not(:last-child) {
            margin-bottom: 14px;
          }
        }
      }

      .details-right {
        flex: 1;

        a {
          display: inline-block;
          margin-bottom: 14px;
        }

        p {
          font-size: 14px;
          font-weight: 600;

          &:not(:last-child) {
            margin-bottom: 14px;
          }
        }
      }
    }
  }
}

// 多订单表格

.MultipleOrders {
  position: relative;

  .TableWaper {

    // height: 210px;
    // overflow-y: scroll;
    .textWidth {
      display: inline-block;
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .ant-table-thead>tr>th {
      border-bottom: none;
      background: none;
      font-size: $tq-font-size-7;
      color: $tq-font-color-body;

      ::before {
        width: 0px;
      }
    }

    .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
      width: 0px;
      content: '';
    }

    .ant-table-tbody>tr>td {
      border-bottom: 0px;
      color: $tq-font-color-title;
    }
  }

  .ant-spin-nested-loading,
  .ant-spin-container,
  .ant-table {
    position: static;
  }

  .ant-table table {
    padding-top: 40px;
  }

  // 解决table 下拉滚动表头固定功能
  .ant-table-thead {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;

    tr {
      display: flex;

      th {
        width: 25%;
      }

      th:nth-child(2) {
        width: 120px;
      }
    }
  }

  /*里面的代码可以根据自己需求去进行更改*/
  /* 设置滚动条的样式 */
  ::-webkit-scrollbar {
    width: 3px;
    z-index: 100;
  }

  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    display: none;
  }

  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    height: 50px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
}