.personal-details {
  width: 100%;
  height: 100%;
  font-size: 16px;
  position: relative;

  .details-wrapper {
    width: 100%;
    height: 100%;
    padding: 48px 0;
    max-width: 1200px;
    min-width: 1200px;
    margin: auto;
    position: relative;
    top: 0;
  }

  .wrapper-btn {
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cancebtn {
      height: 48px;
      background: $tq-color-white !important;
      border-radius: 8px;
      // border: 1px solid $tq-primary-color;
      color: $tq-primary-color !important;
    }

    button {
      height: 48px;
      font-size: $tq-font-size-4;
      font-weight: 600;

      &:not(last-of-type) {
        margin-right: 30px;
      }
    }
  }

  .wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: 768px) and (max-width: 1024px) {
      margin: 15px 20px 0;
    }

    .inner-hidden,
    .hidden {
      display: none;
    }

    .header-pic {
      width: 560px;
      height: 583px;
      margin-right: 50px;
      border-radius: 5px;

      p {
        display: flex;
        justify-content: flex-end;
        padding: 15px 20px;
        border-bottom: 1px solid #e5e8eb;
        cursor: pointer;

        img {
          width: 18px;
        }

        span {
          padding-left: 5px;
        }
      }

      .svg-icon:hover {
        color: red;
      }

      .header-image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;

        .prod-image {
          position: relative;
          width: 100%;
          height: 100%;

          .fav {
            position: absolute;
            top: 24px;
            right: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 36px;
            background: rgba(255, 10, 141, 0.15);
            border-radius: 10px;
            opacity: 1;

            span {
              font-size: 14px;
              font-weight: 600;
              color: $tq-primary-pink;
              line-height: 20px;
            }

            img {
              margin-right: 4px;
              width: 24px;
              height: 24px;
              // margin-bottom: 5px;
            }
          }
        }

        .cover {
          display: block;
          width: 560px;
          height: 100%;
          max-height: 640px;
          object-fit: cover;
          border-radius: 15px;
        }
      }
    }

    .header-information {
      width: 590px;

      .top-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .top-left p {
          cursor: pointer;
          color: rgb(32, 129, 226);
        }

        .top-left a {
          cursor: pointer;
          color: rgb(32, 129, 226);
        }

        .top-right {
          font-size: 20px;

          .svg-icon {
            padding: 10px;
            border: 1px solid rgb(229, 232, 235);
            cursor: pointer;

            &:first-child {
              border-right: none;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }

            &:last-child {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }

            &:nth-child(2),
            &:nth-child(3) {
              border-right: none;
            }

            &:hover {
              transition: all 0.2s ease 0s;
              box-shadow: rgba(26, 33, 39, 0.4) 0px 0px 8px 0px;
              border-radius: 5px;
              color: rgb(53, 56, 64);
            }
          }
        }
      }

      .information-top {
        .name-waper {
          display: flex;
          align-items: baseline;

          .collections-name {
            margin-left: 8px;
            font-size: 18px;
            color: $tq-primary-aqua;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          h1 {
            max-width: 400px;
            font-size: 30px;
            font-weight: 600;
            color: $tq-color-white;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .author {
          display: flex;
          margin: 16px 0 24px;
          color: $tq-color-white;
          cursor: pointer;

          .auth {
            img {
              width: 40px;
              height: 40px;
              margin-right: 12px;
              border-radius: 50%;
            }
          }

          a {
            color: $tq-primary-aqua;
          }

          .auth-favorite {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #707a83;
          }

          .auth-favorite:hover {
            color: rgb(4, 17, 29);
          }

          .svg-icon {
            font-size: 20px;
            margin-right: 5px;
            vertical-align: middle;
          }
        }

        .buy {
          width: 100%;
          margin-bottom: 30px;

          p {
            margin-bottom: 8px;
            font-size: 14px;
            color: $tq-color-white ;

            &:last-of-type {
              font-size: 24px;
              font-weight: 600;
              color: $tq-color-white;
            }
          }

          button {
            margin-top: 16px;
            width: 100%;
            display: inline-flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 8px;
            -webkit-box-pack: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 600;
            padding: 12px 20px;
            background-color: $tq-primary-color;
            // border: 1px solid rgb(32, 129, 226);
            color: $tq-color-white;

            &:disabled {
              opacity: 0.2;
            }
          }
        }
      }
    }
  }
}