.account {
  width: 100%;

  .banner {
    width: 100%;
    display: flex;
    height: 300px;
    background: rgb(229, 232, 235);
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;

    .edit {
      opacity: 1;
      position: absolute;
      right: 60px;
      bottom: 16px;
      padding: 0 15px;
      height: 30px;
      display: flex;
      align-items: center;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 15px;

      img {
        width: 18px;
        height: 17px;
      }

      span {
        margin-left: 5px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(29, 36, 59, 0.8);
        line-height: 20px;
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 132px;
        height: 30px;
        opacity: 0;
        cursor: pointer;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    &.set {
      .add {
        display: none;
      }

      .edit {
        visibility: visible;
      }
    }
  }

  .account-content-wrap {
    margin: 0 auto;
    // display: flex;
    width: 1200px;
  }

  .account-header--main {
    position: relative;
    margin-top: -90px;
    margin-bottom: 12px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    // width: 256px;
    // height: 100%;
    // background: #FFF;
    // border-radius: 20px;
    // border: 1px solid rgba(29, 36, 59, 0.1);
    .account-header-top {
      display: flex;
      width: 100%;

    }

    .user-img,
    .header-img {
      border: 2px solid rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      width: 140px;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      input {
        cursor: pointer;
        height: 100%;
        opacity: 0;
        position: absolute;
        width: 100%;
        z-index: 4;
      }

      .ico {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        opacity: 0;
        z-index: 1;
        background: rgba(4, 17, 29, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .svg-icon {
          font-size: 24px;
        }

        span {
          font-weight: 700;
          font-size: 14px;
          color: #fff;
          margin-top: 3px;
        }
      }

      &:hover {
        .ico {
          opacity: 1;
        }
      }
    }

    .account-info {
      margin-left: 20px;

      .account-flex {
        padding-top: 70px;
        display: flex;
        align-items: center;
      }

      .moreinfo {
        max-width: 1000px;
        margin-top: 10px;
        font-size: $tq-font-size-5;
        color: $tq-font-color-body;
        display: flex;
        align-items: center;
        justify-content: start;

        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        label {
          color: $tq-primary-color;
          cursor: pointer;
        }
      }
    }

    .account-title {
      display: flex;
      justify-content: center;
      font-size: 26px;
      font-weight: 600;
      line-height: 28px;
      color: $tq-font-color-title;
    }

    .account-subtitle {
      margin-left: 20px;
      padding: 0 20px;
      height: 34px;
      line-height: 34px;
      align-items: center;
      display: flex;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
      color: $tq-font-color-body;
      border: 1px solid $tq-split-line-color;

      strong {
        margin-right: 8px;
        font-size: 16px;
      }

      img {
        width: 14px;
        height: 14px;
        cursor: pointer;
      }
    }

    .select-wrap {
      margin-top: 80px;
      margin-left: 16px;
      width: 100%;

      .select-favorited {
        margin-top: 24px;
      }
    }

    .other-entry {
      position: absolute;
      right: 15px;
      top: 80px;
      display: flex;

      .el {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        padding: 12px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(229, 232, 235);
        color: #707a83;
        cursor: pointer;
        font-size: 24px;

        &:first-child {
          border-right: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        .gray {
          display: block;
        }

        .black {
          display: none;
        }

        &:hover {
          transition: all 0.2s ease 0s;
          box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;

          .gray {
            display: none;
          }

          .black {
            display: block;
          }
        }
      }
    }

    .other-entry-mobile {
      position: absolute;
      right: 15px;
      top: 80px;
      display: none;

      .more {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        padding: 12px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(229, 232, 235);
        color: #707a83;
        cursor: pointer;

        .black {
          display: none;
        }

        &:hover,
        &:active {
          .gray {
            display: none;
          }

          .black {
            display: inline-flex;
          }
        }
      }

      .panel {
        max-height: 350px;
        overflow-y: auto;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
        background-color: rgb(255, 255, 255);
        color: rgb(4, 17, 29);
        max-width: initial;
        min-width: 220px;
        position: absolute;
        top: 45px;
        right: 0;
        z-index: 2;

        .el {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          font-size: 16px;
          font-weight: 600;
          padding: 16px;
          background-color: rgb(255, 255, 255);
          border-bottom: 1px solid rgb(229, 232, 235);
          color: #707a83;
          cursor: pointer;
          font-size: 24px;

          strong {
            font-weight: 600;
            font-size: 14px;
            color: rgb(53, 56, 64);
            margin-left: 16px;
          }

          .gray {
            display: block;
          }

          .black {
            display: none;
          }

          &:hover {
            strong {
              color: rgb(53, 56, 64);
            }

            .gray {
              display: none;
            }

            .black {
              display: block;
            }
          }
        }
      }
    }
  }

  .account-nav-list {
    margin: 0 auto;
    max-width: 1200px;
  }

  .info {

    .info-side {
      align-self: start;
      flex-direction: column;
      width: 280px;
      background: rgb(255, 255, 255);
      position: sticky;
      top: 72px;
      min-height: 500px;
      height: 100%;

      &.narrow {
        width: 76px;
        overflow: hidden;

        .info-side--header {
          justify-content: center;
        }

        .items {
          .el {
            justify-content: center;

            .name {
              strong {
                display: none;
              }
            }

            .num {
              display: none;
            }
          }
        }
      }

      .info-side--header {
        padding: 16px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        strong {
          font-weight: 700;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: rgb(112, 122, 131);
        }

        span {
          font-size: 24px;
        }

        .black {
          display: none;
        }

        .gray {
          display: block;
        }

        &:hover {
          box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;

          .black {
            display: block;
          }

          .gray {
            display: none;
          }
        }
      }

      .items {
        padding: 8px;

        .el {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          border-radius: 5px;
          transition: color 1s ease 0s, background-color 1s ease 0s;
          padding: 12px;
          color: #707a83;
          background-color: rgb(255, 255, 255);
          cursor: pointer;

          .name {
            display: flex;
            align-items: center;
            justify-content: center;

            strong {
              font-weight: 600;
              font-size: 16px;
              color: #707a83;
              margin-left: 16px;
            }

            .gray,
            .black {
              font-size: 24px;
            }

            .gray {
              display: block;
            }

            .black {
              display: none;
            }
          }

          .num {
            max-width: 40%;
            overflow: hidden;
            text-align: right;
            font-weight: 500;
            font-size: 14px;
            color: inherit;
          }

          &:hover,
          &.active {
            .name {
              strong {
                color: #04111d;
              }

              .gray {
                display: none;
              }

              .black {
                display: block;
              }
            }

            .num {
              color: #04111d;
            }
          }

          &.active {
            border-radius: 5px;
            transition: color 1s ease 0s, background-color 1s ease 0s;
            padding: 12px;
            color: rgb(53, 56, 64);
            background-color: rgb(243, 251, 254);
          }
        }
      }
    }

    .info-main {
      flex: 1;
      margin: 0 auto;

      .g-list {
        margin-left: 10px;

        .card {
          width: 270px;

          &:hover {
            .price .btn {
              visibility: inherit;
            }
          }

          .assets {
            width: 270px;
            height: 270px;
          }

          .price {
            display: flex;
            justify-content: space-between;

            .priceCenter {
              display: flex;
              align-items: center;
            }

            .btn {
              display: flex;
              align-items: center;
              padding: 0 20px;
              height: 28px;
              background: $tq-primary-color;
              border-radius: 20px;
              color: $tq-color-white;
              font-size: $tq-font-size-7;
              visibility: hidden;

              img {
                margin-right: 8px;
              }
            }
          }
        }

        &.small {
          gap: 25px;
          margin-left: 0px;

          .card {
            width: 220px;

            .assets {
              width: 220px;
              height: 220px;
            }
          }
        }
      }
    }
  }

  .info-collections {
    margin: 0 auto;

  }

  .info-flex {
    // margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;

    section {
      display: flex;

      .g-search {
        margin-right: 32px;
      }
    }

    &>div {
      &.g-search {
        max-width: 318px;
      }
    }

    .infoFilter {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &>div {
        margin-right: 18px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    button {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      border-radius: 5px;
      justify-content: center;
      font-size: 16px;
      padding: 11px 15px;
      background-color: #fff;
      border: 1px solid #e5e8eb;
      color: #707a83;

      &:hover {
        color: #353840;
        transition: all 0.2s ease 0s;
        box-shadow: 0 0 8px 0 rgba(4, 17, 29, 0.25);
      }
    }
  }

}

.item-bgc {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/checked_bgc.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000;
  position: absolute;
  bottom: 0;
  margin-bottom: 63px;
  z-index: 99;
  opacity: 0.6;
  color: #fff;

  span {
    font-size: 22px;
  }
}

.dialog-body {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .svg-icon {
      font-size: 120px;
      color: #50be4d;
    }
  }
}

.footer-btn {
  button {
    display: block;
    width: 266px;
    height: 40px;
  }

  #cancle {
    color: #2081e2;
    background: rgba(32, 129, 226, 0.06);
    margin-right: 30px;
  }
}

.account-tabz {
  display: flex;
  border-bottom: 1px solid $tq-split-line-color;
  // flex-direction: column;

  li {
    padding-bottom: 16px;
    margin-right: 60px;
    justify-content: flex-start;
    font-size: $tq-font-size-3;
    font-weight: 600;
    color: $tq-font-color-body;
    line-height: 22px;
    cursor: pointer;

    &:hover {
      color: $tq-font-color-title;
    }

    &.active {
      color: $tq-font-color-title;
      border-bottom: 2px solid $tq-font-color-title ;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}