$mobile-xs-max: 520px;
$screen-sm-min: 768px;

#mobile-navbar {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;

  &>a {
    display: flex;
    align-items: center;

    img {
      width: 36px;
      height: 36px;
      margin-right: 8px;
    }
  }
}

.mobile-menu {
  display: flex;
  align-items: center;

  &> :first-child {
    display: flex;
    margin-right: 12px;
    font-size: 24px !important;
    color: #8299ac;
  }

  @media screen and (max-width: $mobile-xs-max) {
    :first-child {
      display: flex;

      img {
        margin-right: 12px;
      }

      div {
        margin-right: 10px;
      }
    }

    sup {
      display: none;
    }
  }
}

.ant-modal {
  width: 100%;
  top: 0;
  right: 0;

  @media screen and (max-width: 767px) {
    max-width: 100%;
    margin: 0;
  }

  .ant-modal-content {
    .ant-modal-header {
      width: 54%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 0;

      .ant-modal-title {
        img {
          width: 68px;
          height: 68px;
          margin-right: 5px;
        }

        span {
          font-size: 34px;
          font-weight: 600;
          color: #093051;
        }
      }
    }

    .ant-modal-close {
      .ant-modal-close-x {
        img {
          width: 48px;
          height: 48px;
        }
      }
    }

    .ant-modal-body {
      .mobile-menu-modal {
        .ant-menu {
          border: 0;

          .ant-menu-item {
            height: 100px;
            padding: 0;

            .item {
              font-size: 36px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

.mobile-menu-list {
  width: 100% !important;
  height: 100%;
  top: 0 !important;

  @media screen and (max-width: 767px) {
    max-width: 100% !important;
    margin: 0 !important;
  }

  .ant-modal-content {
    border-radius: 0 !important;

    .ant-modal-header {
      .ant-modal-title {
        img {
          width: 34px;
          height: 34px;
          margin-right: 5px;
        }

        span {
          font-size: 17px;
        }
      }
    }

    .ant-modal-close {
      .ant-modal-close-x {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    .ant-modal-body {
      .mobile-menu-modal {
        .ant-menu {
          .ant-menu-item {
            height: 50px;

            .item {
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}