.g-search {
  align-items: center;
  background-color: $tq-table-bg;
  border: 1px solid $tq-split-line-color;
  border-radius: 5px;
  color: rgba(4, 17, 29, 0.75);
  display: flex;
  flex: 1 0 0%;
  height: 56px;
  max-width: 768px;
  padding: 0px 10px;

  &:focus-within {
    border-color: none;
  }

  .prepend {
    .search {
      font-size: 24px;
    }
  }

  input {
    background-color: transparent;
    color: $tq-color-white;
    border: none;
    flex: 1 0 0%;
    height: 100%;
    margin-left: 16px;
    outline: none;
    width: 100%;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
      color: $tq-font-color-gary !important;
    }
  }
}

.search-com {

  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-left: 30px;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .ant-select-selector {
    background: transparent !important;
    height: 40px !important;
    border-radius: 6px !important;

    input {
      text-indent: 2em;
    }
  }

  .ant-select-arrow {
    position: absolute;
    top: 50%;
    left: 13px;

    svg {
      font-size: 16px;
      color: $tq-color-white;
    }
  }

  .ant-select-selection-placeholder {
    line-height: 40px !important;
    padding-left: 29px !important;
    color: $tq-color-white;
  }

  .ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 38px;
  }
}