.article-main {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;

  .main-inner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;

    .inner {
      flex: 0 0 80%;

      h1 {
        font-size: 32px;
        font-weight: 600;
        color: #000;
        margin: 20px 0;
      }

      li {
        font-size: 18px;
        line-height: 70px;
        border-bottom: 1px solid #e5e8eb;
        cursor: pointer;

        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .article-main {
    padding: 0 5%;

    .main-breadcrumb {
      flex-wrap: wrap;

      .breadcrumb {
        width: 100%;
      }

      .search-component {
        width: 100%;
        margin-top: 20px;
      }

      .search-container {
        max-width: 100%;
      }
    }

    .main-inner .inner {
      flex: 1;
    }
  }
}

@media (max-width: 1250px) {
  .article-main {
    padding: 0 5%;
  }
}

// 面包屑
.main-breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;

  .breadcrumb {
    a {
      font-weight: 500;
      color: rgba(32, 129, 226, 1);

      &:hover {
        color: #1868b7;
        transition: all 0.1s ease 0s;
        font-weight: 600;
      }
    }

    span {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: rgba(32, 129, 226, 1);
      margin: auto 10px;
      vertical-align: middle;
    }
  }

  .search-component {
    border: 1px solid #e5e8eb;
  }
}

@media (max-width: 768px) {
  .main-breadcrumb {
    flex-direction: column;
    align-items: start;

    .breadcrumb {
      margin-bottom: 15px;
    }

    .search-component {
      width: 100%;
      max-width: 100%;
    }
  }
}
