.primary-market-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px 0 80px;
}

.primary-header {
  width: 1160px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-around;

  .primary-header-title {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 42px;
      font-weight: 600;
      color: $tq-color-white;
      margin-bottom: 20px;
      line-height: normal;
    }

    p {
      font-size: 14px;
      color: $tq-font-color-body;
      line-height: 1.5;
      margin-bottom: 0;
    }
  }
}

// @media (min-width: 768px) and (max-width: 1024px) {
//   .primary-header {
//     .primary-header-title {
//       width: 90%;
//     }
//   }
// }

// @media (max-width: 767px) {
//   .primary-header {
//     margin-bottom: 20px;
//     padding: 0 20px;

//     .primary-header-title {
//       width: 100%;
//       text-align: center;
//     }
//   }

//   .primary-header .primary-header-title h1 {
//     font-size: 24px;
//   }
// }

// @media (min-width: 320px) and (max-width: 767px) {
//   .primary-header .primary-header-title h1 {
//     font-size: 18px;
//   }
// }