.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  width: 280px;
  cursor: pointer;
  background: $tq-list-bg;
  border: 1px solid $tq-list-bg;
  overflow: hidden;

  &:hover {
    border: 1px solid rgba($color: $tq-primary-aqua, $alpha: 0.7)
  }

  a {
    position: relative;
  }

  .assets {
    height: 280px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  .assets-info {
    padding: 14px;

    .desc {
      display: flex;
      justify-content: space-between;

      .name {
        height: 22px;
        line-height: 22px;
        font-size: $tq-font-size-3;
        font-weight: 500;
        color: $tq-color-white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      font-size: 24px;
      font-weight: 600;
      color: $tq-color-white;
      height: 22px;

      .priceCenter {
        width: 50%;
        display: flex;
        align-items: center;

        span {
          display: inline-block;
          width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .btn {
        display: flex;
        align-items: center;
        padding: 0 20px;
        height: 28px;
        background: $tq-primary-color;
        border-radius: 20px;
        color: $tq-color-white;
        font-size: $tq-font-size-7;
        visibility: hidden;

        img {
          margin-right: 8px;
        }
      }

      .coin-img {
        margin-right: 5px;
        width: 24px;
        height: 24px;
      }
    }


    .collection-name {
      margin-top: 12px;
      line-height: 20px;
      font-size: $tq-font-size-4;
      font-weight: 400;
      color: $tq-font-color-sub-title;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }
}