.home-container-wrap {
  padding-top: 140px;

  .swiper-list {
    position: relative;
    margin: 0 auto;

    .swiper-slide {
      width: 382px;
    }

  }

  .swiper-list:hover .swiper-buttons {
    opacity: 1;
    transition: 1s;
  }

  .swiper-buttons {
    width: 100%;
    padding: 0 40px;
    margin-top: -220px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    opacity: 0;

    img {
      width: 52px;
      height: 52px;

      :hover {
        box-shadow: 0px 0px 8px 0px rgba(29, 36, 59, 0.14);
      }
    }
  }
}