.trading-history {
  margin-top: 30px;
  border: 1px solid rgb(229, 232, 235);

  .list-title {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(229, 232, 235);
    box-sizing: border-box;
    line-height: 1;
    cursor: pointer;

    .arrow-icon {
      margin-left: auto;
      color: rgba(4, 17, 29, 0.4);
    }

    .svg-icon {
      font-size: 20px;
      margin-right: 10px;
    }

    h2 {
      font-size: 16px;
      font-weight: 600;
    }

    &:hover .arrow-icon {
      color: #000;
    }
  }

  .list-content>.details-filter {
    width: 100%;
    border-bottom: 1px solid rgb(229, 232, 235);

    .details-top {
      padding: 20px;
    }

    .filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 40px;
      padding: 0 20px;
      border: 1px solid rgb(229, 232, 235);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      cursor: pointer;
      position: relative;

      .filter-checkbox {
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 40px;
        z-index: 99;
        left: 0;
        border: 1px solid rgb(229, 232, 235);
      }

      .filter-checkbox>ul li {
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid rgb(229, 232, 235);
        cursor: pointer;

        &:hover {
          background-color: rgb(229, 232, 235);
        }

        input {
          width: 24px;
          height: 24px;
          margin-right: 10px;
          cursor: pointer;
          background-color: #ffffff;

          &.checked {
            background-color: #2081e2;
          }
        }
      }

      .filter-checkbox ul label:last-child li {
        border: none;
      }
    }

    .details-button {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 20px 20px;

      button {
        font-size: 16px;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        display: flex;
        min-height: 54px;
        padding: 10px 20px;
        border-width: 1px;
        border-style: solid;
        background-color: rgba(21, 178, 229, 0.06);
        border-color: rgb(21, 178, 229);
        border-radius: 5px;
        border: 1px solid rgb(21, 178, 229);
        overflow: hidden;
        margin-right: 10px;

        .svg-icon {
          padding: 0 5px;
        }
      }

      span {
        cursor: pointer;
        color: rgb(21, 178, 229);
      }

      span:hover {
        color: rgb(32, 129, 226);
      }

      button:hover {
        box-shadow: rgba(4, 17, 29, 0.4) 0px 0px 8px 0px;
      }
    }
  }
}

// table
.details-table>table {
  width: 100%;
  color: rgb(4, 17, 29);
  overflow: auto;
  margin-bottom: 20px;

  thead {
    line-height: 30px;
    border-bottom: 1px solid rgb(229, 232, 235);
  }

  tbody {
    line-height: 50px;

    tr {
      border-bottom: 1px solid rgb(229, 232, 235);

      .svg-icon {
        margin-right: 10px;
      }

      a {
        color: rgb(32, 129, 226);
      }
    }
  }

  .first-child {
    padding-left: 25px;
  }
}

// @media (min-width: 768px) and (max-width: 1024px) {
//   .trading-history {
//     margin: 20px;
//   }
// }

// @media (max-width: 375px) {
//   .trading-history .list-content > .details-filter .details-button span {
//     padding: 10px 0;
//   }
// }