.trading-history {
  margin-top: 70px;
  // border: 1px solid $tq-split-line-color;
  // border-radius: 16px;
  // overflow: hidden;

  .list-title {
    margin-bottom: 16px;
    padding: 0 20px;
    // height: 56px;
    // line-height: 56px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    line-height: 1;
    cursor: pointer;

    .arrow-icon {
      margin-left: auto;
      color: rgba(4, 17, 29, 0.4);
    }

    .svg-icon {
      font-size: 20px;
      margin-right: 10px;
    }

    h2 {
      color: $tq-color-white;
      font-size: 16px;
      font-weight: 600;
    }

    &:hover .arrow-icon {
      color: #000;
    }
  }
}