.nft-list {
  margin: 230px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1440px;


  .safety-bg {
    background-image: url('Src/assets/home/safety_bg.png');
  }

  .fee-bg {
    background-image: url('Src/assets/home/fee_bg.png');
  }

  .relation-bg {
    background-image: url('Src/assets/home/relation_bg.png');
  }

  .nft-list-item {
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 382px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    img {
      width: 178px;
      height: 178px;
      position: absolute;
      top: -78px;
    }

    .item-title {
      margin: 84px 0 12px;
      font-size: $tq-font-size-3;
      font-weight: 500;
      color: $tq-color-white;
    }

    .item-text {
      font-size: $tq-font-size-6;
      font-weight: 400;
      color: $tq-color-white;
      line-height: 22px;
      text-align: center;
    }

    a {
      font-weight: 600;
      color: rgb(32, 129, 226);
      text-decoration: none;
    }
  }
}

.page-title {
  width: 100%;
  margin: auto;
  margin-top: 160px;
  margin-bottom: 64px;

  h2 {
    font-weight: 600;
    font-size: 36px;
    color: #1D243B;
    text-align: center;
  }
}

// @media (max-width: 767px) {
//   .nft-list {
//     width: 100%;

//     .nft-list-item {
//       align-items: flex-start;

//       &:not(:last-of-type) {
//         margin-bottom: 40px;
//       }

//       img {
//         width: 48px;
//         height: 48px;
//       }

//       .item-title {
//         margin-top: 5px;
//         font-size: 18px;
//       }

//       .item-text {
//         margin-top: 4px;
//         font-size: 14px;
//         text-align: left;
//         line-height: normal;
//       }
//     }
//   }

//   .page-title {
//     margin: 1.78rem 0 1.424rem;
//   }
// }