.error-waper {
  text-align: center;

  .error-img img {
    margin-top: 100px;
    width: 480px;
    height: 360px;
  }

  .error-title {
    margin-top: 50px;
    font-size: 32px;
    color: #9F9FAA;
  }
}