.pc-footer {
	margin: 120px auto 0px;
	padding: 0 0px 42px;
	// display: flex;
	// justify-content: space-between;
	width: 1440px;

	.logo {
		width: 168px;
		height: 48px;
	}

	.footer-left {
		margin: 16px 0 58px;

		.desc {
			font-size: $tq-font-size-6;
			color: $tq-color-white;
		}
	}

	.footer-right {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
		color: $tq-font-color-gary;

		.links {
			span {
				padding-left: 60px;
				cursor: pointer;
			}

		}

		.webLink {
			img {
				width: 32px;
				height: 32px;
				cursor: pointer;
			}
		}
	}
}