.article-details-wrap {
  margin: 80px auto 0px;
  width: 1200px;

  .articleBack {
    cursor: pointer;
  }

  .article-details {
    margin-top: 34px;

    .article-header {
      margin-bottom: 40px;

      h1 {
        color: $tq-color-white;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .article-update-time span {
        font-size: 14px;
        color: #9F9FAA;
        padding-right: 5px;
      }
    }

    .article-info {
      line-height: 2;
      margin-bottom: 40px;

      p {
        color: #9F9FAA;
      }

      img {
        width: 500px;
        height: auto;
        max-width: 100%;
        border-radius: 5px;
        box-shadow: rgba(4, 17, 29, 0.4) 0px 0px 8px 0px;
        transition: all 0.1s ease 0s;
      }
    }
  }
}