.gatherList-waper {
  padding-top: 80px;
  width: 1200px;
  margin: 0 auto;

  .gatherListTitle {
    margin-bottom: 40px;
    font-size: 26px;
    color: $tq-font-color-title;
    ;
  }

  .gatherList {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;

    .swiper-item {
      position: relative;
    }

    .cover {
      .editIcon {
        position: absolute;
        top: 36px;
        right: 36px;
        width: 22px !important;
        height: 22px !important;
        cursor: pointer;
      }

    }

    .swiper-items:nth-child(3) {
      margin-right: 0px !important;
    }

    .swiper-items {
      margin: 0px 24px 24px 0px !important;
    }
  }

  .royaltiesTop {
    display: flex;
    justify-content: space-between;
    margin: 38px 0px;

    div {
      padding: 20px 30px;
      box-sizing: border-box;
      width: 580px;
      height: 142px;
      background: $tq-table-bg;
      border-radius: 10px 10px 10px 10px;
      opacity: 1;
      border: 1px solid #3E4055;

      .name {
        font-size: $tq-font-size-5;
        color: $tq-font-color-body;
      }

      .price {
        margin-top: 20px;
        color: $tq-color-white;
        font-size: 36px;
      }
    }
  }

  .TableWaper {
    margin-bottom: 25px;

    .gatgerTable {

      // background: #3E4055;
      .ant-table {
        background: transparent;

        // .ant-table-tbody>tr>td {
        //   border-bottom: none;
        // }
      }

      .ant-table-container {
        margin-bottom: 25px;
        border-radius: 12px;
        border: 1px solid #3E4055;
        background: #1C203A;
        overflow: hidden;

        .ant-table-thead>tr>th {
          padding-top: 0px;
          padding-bottom: 0px;
          height: 45px;
          line-height: 45px;
          background: none;
          font-size: $tq-font-size-5;
          color: $tq-font-color-body;
          border-bottom: none;

        }

        .ant-table-thead>tr>th::before {
          width: 0px;
        }

        .ant-table-tbody>tr>td {
          height: 60px;
          color: $tq-color-white;
          font-size: $tq-font-size-5;
          border-bottom: none;
        }

        .ant-table-tbody>tr.ant-table-row:hover>td,
        .ant-table-tbody>tr>td.ant-table-cell-row-hover,
        .ant-table-tbody>tr.ant-table-placeholder:hover>td {
          background: none
        }


        .ant-table-tbody>tr:nth-child(odd) {
          background: $tq-split-line-color;
        }
      }

      .tbaleCover {
        margin-right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
      }

      .tbaleCoin {
        margin-right: 8px;
        width: 22px;
        height: 22px;
      }
    }

    .ant-pagination {
      justify-content: flex-start;

      .ant-pagination-prev .ant-pagination-item-link,
      .ant-pagination-next .ant-pagination-item-link {
        height: 26px;
        line-height: 26px;
        border-radius: 10px;
        border-color: $tq-font-color-minor;
      }

      .ant-pagination-item {
        height: 26px;
        line-height: 26px;
        border: none;

        // &:hover {
        //   background: #eeeeee;
        //   color: $tq-font-color-minor;
        //   border-radius: 8px;
        // }
      }

      .ant-pagination-item-active a,
      .ant-pagination-item :hover {
        background: #eeeeee;
        color: $tq-font-color-minor;
        border-radius: 8px;
      }
    }
  }
}