.privacyWpaer {
  width: 1200px;
  min-width: 1200px;
  margin: 32px auto 0;

  .privacyTitle {
    font-size: 32px;
    color: $tq-color-white;
    font-weight: 600;
  }

  .privacyTime {
    font-size: 14px;
    color: #9F9FAA;
    margin-top: 8px;

  }

  .privacyConten {
    margin-top: 45px;
    font-size: 16px;
    color: #9F9FAA;
    line-height: 28px;

    p {
      margin-bottom: 6px;
    }
  }
}