.home-container {
  margin: 0 auto;
  width: 100%;
  // height: 100%;
}

.home-ranking {
  padding-top: 120px;
}

.SeeMore {
  margin-top: 32px;
  text-align: center;

  button {
    padding: 0 20px;
    height: 44px;
    background: #262840 !important;
    border-radius: 10px;
    opacity: 1;
    border: 1px solid #6E7080;

    &:hover {
      background: rgba(0, 0, 0, 0.1) !important;
    }
  }
}

.homeTips {
  margin-top: 120px;
  padding: 33px 0px;
  text-align: center;
  width: 100%;
  height: 180px;
  background-image: url('Src/assets/home/link-bg.svg');
  background-repeat: no-repeat;
  background-size: 100% 180px;

  p {
    font-size: $tq-font-size-3;
    color: $tq-color-white;
    margin-bottom: 1rem;
  }
}