.container-banner {
  width: 100%;
  height: 900px;
  background-image: url('../../../assets/home/home-bg.svg');
  background-repeat: no-repeat;
  // background-size: 100%;
}

.container-flex {
  margin: 0px auto;
  padding: 200px 160px 0;
  box-sizing: border-box;
  // padding-top: 114px;
  margin-bottom: 220px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 1440px;
  font-family: Poppins, sans-serif;

  .flex-left {
    width: 650px;
    padding: 110px 0 44px 0;
    align-items: flex-start;
    flex-direction: column;
    -webkit-box-align: center;

    p {
      font-size: 60px;
      text-align: left;
      max-width: 100%;
      margin-right: 10px;
      color: $tq-color-white;
      line-height: normal;
      letter-spacing: 8px;
    }

    span {
      display: block;
      font-size: $tq-font-size-3;
      font-weight: 400;
      margin-top: 24px;
      max-width: 510px;
      color: $tq-color-white;
      line-height: 38px;
      letter-spacing: 4px;
    }
  }

  .left-button {
    margin-top: 60px;
    display: flex;

    button {
      width: 170px;
      height: 56px;
      display: inline-flex;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      font-size: $tq-font-size-5;
      background: $tq-btn-linear;
      color: rgb(255, 255, 255);
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        opacity: 0.9;
      }
    }

    .button-sell {
      margin-left: 16px;
      background: transparent;
      border: 2px solid #FFFFFF;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }

    .button-explore:hover {
      // background-color: $tq-btn-linear;
      // transition: all 0.2s ease 0s;
    }

    .button-create:hover {
      transition: all 0.2s ease 0s;
      box-shadow: 0px 0px 1px 1px;
    }
  }

  .text-link {
    font-size: 16px;
    color: rgb(32, 129, 226);
    font-weight: 600;
    cursor: pointer;
  }

  .flex-right {
    display: flex;
    justify-content: center;
    width: 912px;
    height: 620px;
    background-image: url('../../../assets/home/hot-bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 90px;
    position: relative;
    overflow: hidden;

    .cards-swiper {
      position: relative;
      border-radius: 20px;

      .swiper {
        width: 848px;
        height: 566px;
        overflow: visible;

        .right-inner {
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          border-radius: 20px;
          position: relative;

          &:hover {
            transition: all 0.3s ease 0s;
            // box-shadow: rgb(196, 197, 200) 0px 0px 10px 0px;
          }

          .pic {
            width: 848px;
            height: 566px;
            border-radius: 20px;
            cursor: pointer;
            object-fit: cover;
          }

          .bannerItem-info {
            position: absolute;
            left: 40px;
            bottom: 40px;
            display: flex;
            align-items: center;

            h3 {
              font-size: 36px;
              color: #fff;
            }

            img {
              width: 86px;
              height: 86px;
              border-radius: 50%;
              margin-right: 24px;
            }
          }

        }

        .swiper-pagination {
          margin-top: 16px;
          display: flex;
          justify-content: center;
        }

        .my-bullet {
          margin: 0 3px;
          display: inline-block;
          width: 22px;
          height: 4px;
          border-radius: 4px;
          background: #1D243B;
          cursor: pointer;
        }

        .my-bullet-active {
          display: inline-block;
          width: 14px;
          height: 4px;
          border-radius: 4px;
          background: #2585D9;
          cursor: pointer;
        }
      }

      .swiper-slide-shadow {
        border-radius: 20px;
      }
    }
  }

  .link-hidden {
    display: none;
  }
}

.mainSwiper {

  .swiper-horizontal>.swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    border-radius: 4px;
    position: absolute;
    height: 4px;
    width: 240px;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba($color: $tq-color-white, $alpha: 0.2);
  }

  .swiper-scrollbar-drag {
    background: $tq-color-white;
    height: 4px;
    border-radius: 4px;
  }
}

// @media (min-width: 1440px) and (max-width:1680px) {
//   .flex-right {
//     width: 620px !important;
//     height: 500px !important;

//     .swiper,
//     .pic {
//       width: 580px !important;
//       height: 406px !important;
//     }
//   }
// }

@media (min-width: 1200px) and (max-width:1440px) {
  .flex-right {
    width: 520px !important;
    height: 400px !important;

    .swiper,
    .pic {
      width: 500px !important;
      height: 306px !important;
    }
  }
}