.user-settings {
  width: 1200px;
  margin: 50px auto 0;
}

.settings-wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;

  .settings-list {
    min-width: 250px;
    padding: 10px;
    // border: 1px solid rgb(229, 232, 235);

    .list-title {
      padding: 8px 10px;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $tq-font-color-sub-title;
      line-height: 40px;
    }

    .li-item {
      display: block;
      width: 100%;
      padding: 16px;
      font-size: 20px;
      border-radius: 5px;
      color: rgb(112, 122, 131);
      background-color: #fff;

      &:hover {
        color: rgb(53, 56, 64);
        transition: color 1s ease 0s;
      }
    }

    .li-item .svg-icon {
      vertical-align: middle;
    }

    .li-item span {
      font-size: 16px;
      font-weight: 600;
      margin-left: 16px;
    }

    .actived {
      color: rgb(53, 56, 64);
      background-color: rgb(243, 251, 254);
      transition: color 1s ease 0s, background-color 1s ease 0s;
    }
  }

  .settings-container {
    max-width: 800px;
    width: 100%;
    flex: 1 1 0%;
    margin: 28px 52px;

    h1 {
      font-weight: 600;
      font-size: 30px;
      letter-spacing: 0px;
      color: $tq-color-white;
      margin-bottom: 30px;
    }
  }
}